@font-face {
    font-family: 'Gill Sans MT';
    src: url('GillSansMT.woff2') format('woff2'),
        url('GillSansMT.woff') format('woff'),
        url('GillSansMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}
